body{
    color: rgb(66, 70, 68);
    max-width: 700px;
    margin: 0 auto;
    
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
body div{
    background-color: lightskyblue;
    border: 2px solid chocolate;
}
header a{
    text-decoration: none;
    margin: 5px;
    color: rgb(117, 116, 113);
    
    
    
}
.nav:hover{
    background-color: rgb(223, 188, 108);

}
.image{
    width: 300px;
    margin-top: 10px;
}
button{
    padding: 5px;
    background-color: rgb(161, 155, 155);
    color: rgb(243, 243, 207);
    cursor: pointer;
    margin-top: 4px;
}
input{
    padding: 2px;
    border: 1px solid rgb(184, 174, 174);
    margin-top: 4px;
    

}